body {
	height: 100%;
	margin: 0;
	width: 100%;
}

p {
color: gray;
  font-family: Avenir, 'Avenir', serif;
  font-size: 14px; 
}

h1 {
font-family: Andale, 'Andale Mono', serif;
  font-size: 28px;
  color: DarkOliveGreen; 
}

  h3 {
	  font-family: Andale, 'Andale Mono', serif;
	  font-style: italic; 
	  font-size: 14px; 
	  color: gray; 
}
