body {
	height: 100%;
	margin: 0;
	width: 100%;
}

p {
color: #28283e;
  font-family: Avenir, 'Avenir', serif;
  font-size: 1.25em; 
}

h1 {
font-family: Andale, 'Andale Mono', serif;
  font-size: 2em;
  color: DarkOliveGreen; 
	text-align: center;
}

  h3 {
	  font-family: Andale, 'Andale Mono', serif;
	  font-style: italic; 
	  font-weight: bold;
	  font-size: 1em; 
	  color: DarkOliveGreen; 
}
.summary {
	text-align: center;
	
}

.main {
	
}
#contact {
	font-size: 1em;
}
